<h1> Listado de Productos (Nombre, Descripción, Precio, Stock, Categoría) </h1>

<ul>
    {{#each products}}
        <li> <span>Título:</span> {{this.title}} </li>
        <li> <span>Descripción:</span> {{this.description}} </li>
        <li> <span>Precio:</span> ${{this.price}} </li>
        <li> <span>Stock:</span> {{this.stock}} </li>
        <li> <span>Categoría:</span> {{this.category}} </li>
        <button>Agregar al Carrito</button>
        <br><br>
    {{/each}}
</ul>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Anterior </a>
    <br>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}

<p>Página <span>{{currentPage}}</span> de <span>{{totalPages}}</span> </p>

{{!-- Agregué estilos acá porque no me detectaba el CSS global. Por algún problema de MIME que no entendí. --}}
<style>
    span {
        color: rgb(200, 0, 0);
        font-weight: bold;
    }
</style>