<h1> Listado de Productos </h1>

<div class="center">
    <h3>¡Bienvenido usuario!</h3>
    <p> 
        Nombre: {{first_name}} <br>
        {{#if last_name}}
            Apellido: {{last_name}} <br>
        {{/if}}
        {{#if age}}
            Edad: {{age}} <br>
        {{/if}}
        <span>Rol: {{role}}</span> 
    </p>

    <a href="/api/sessions/logout">Logout</a> <br>

    <ul>
        {{#each products}}
            <li> <span>Título:</span> {{this.title}} </li>
            <li> <span>Descripción:</span> {{this.description}} </li>
            <li> <span>Precio:</span> ${{this.price}} </li>
            <li> <span>Stock:</span> {{this.stock}} </li>
            <li> <span>Categoría:</span> {{this.category}} </li>
            <button>Agregar al Carrito</button>
            <br><br>
        {{/each}}
    </ul>

    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"> Anterior </a>
        <br>
    {{/if}}

    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"> Siguiente </a>
    {{/if}}

    <p>Página <span>{{currentPage}}</span> de <span>{{totalPages}}</span> </p>
</div>