<div data-aos="fade-down" data-aos-duration="1000">
    <h1 class="text-center my-5">Carrito de Compras</h1>

    <div class="container cart-max my-3">

        <div class="d-flex flex-column justify-content-center align-items-end mb-3"> {{!-- Botón vaciar carrito --}}
            <button onclick="vaciarCarrito('{{cartId}}')" class="btn cart-btn">Vaciar Carrito</button>
        </div>

        {{#each productos}} {{!-- Se listan los productos del carrito --}}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Producto: {{this.product.title}}</h5>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
                <p class="card-text">Precio: ${{this.product.totalPrice}}</p>
                <button onclick="eliminarProducto('{{this.cartId}}', '{{this.product._id}}')" class="btn cart-btn">Eliminar</button>
            </div>
        </div>
        {{/each}}

        <div class="d-flex flex-row justify-content-end align-items-center gap-4 m-0 p-0"> 
            <h3 class="text-center text-white m-0">Total: <span class="fs-1 fw-bold">$ {{totalCompra}}</span> </h3> {{!-- Precio total --}}

            <form method="post" action="/api/carts/{{cartId}}/purchase"> {{!-- Botón finalizar compra --}}
                <button type="submit" class="btn cart-btn">Finalizar Compra</button>
            </form>
        </div>

        <div class="text-center my-5"> {{!-- Botón volver --}}
            <a href="/products" class="text-white fs-5">Volver</a>
        </div>
    </div>
</div>

<script src="/js/carts.js"></script>