<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Mi perfil (cambian las opciones según el rol) --}}
  <h1 class="my-5">Mi Perfil</h1>

  <div class="profile-card mb-5">
    {{!-- Datos de usuario --}}
    <div class="row border border-dark rounded bg-secondary-subtle mx-4"> 
      <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="/img/svg/user.svg" class="img-fluid" width="48" alt="Imagen de usuario.">
      </div>
      <div class="col-8 text-start"> 
        <p class="fs-5 fw-bold mt-2">{{user.nombre}} {{user.apellido}} </p>
        <p class="text-danger fs-5 fw-bold mb-2"> {{user.role}} </p>
      </div>
    </div>
    {{!-- Botones --}}
    {{#if this.isAdmin}}
      <a class="form-btn" href="/realtimeproducts">MODIFICAR PRODUCTOS</a>
      <a class="form-btn" href="/adminusers">MODIFICAR USUARIOS</a>
    {{else}}
      {{#if this.isPremium}}
        <a class="form-btn" href="/products">TIENDA</a>
        <a class="form-btn" href="/chat">CHAT COMUNITARIO</a>
        <a class="form-btn" href="/realtimeproducts">MODIFICAR PRODUCTOS</a>
      {{else}}
        <a class="form-btn" href="/products">TIENDA</a>
        <a class="form-btn" href="/chat">CHAT COMUNITARIO</a>
      {{/if}}
    {{/if}}

    <form action="/api/users/logout" method="POST">
      <button class="form-btn bg-danger border border-dark mb-0" type="submit">Salir</button>
    </form>
  </div>
</div>