<div data-aos="fade-down" data-aos-duration="1000"> {{!-- Menú de agregar/eliminar productos --}}
    <h1 class="m-0 my-5">Modificar Productos</h1>

    <h2 class="text-center text-md-start text-white mx-5 mt-5 mb-3">Todos los productos</h2>
    
    <hr class="color2 mx-5">

    <div class="custom-width-table container px-0 mx-auto my-5">
        <div class="table-responsive"> {{!-- Tabla de productos --}}
            <table class="table border border-dark m-0">
                <thead> {{!-- Cabecera --}}
                    <tr>
                        <th scope="col" class="d-none d-md-table-cell text-white bg-dark">CÓDIGO</th>
                        <th scope="col" class="title-column text-white bg-dark">TÍTULO</th>
                        <th scope="col" class="description-column text-white bg-dark">DESCRIPCIÓN</th>
                        <th scope="col" class="d-none d-md-table-cell text-white bg-dark">DUEÑO</th>
                        <th scope="col" class="d-none d-md-table-cell text-white bg-dark">CATEGORÍA</th>
                        <th scope="col" class="d-none d-md-table-cell text-white bg-dark">PRECIO</th>
                        <th scope="col" class="d-none d-md-table-cell text-white bg-dark">STOCK</th>
                        <th scope="col" class="action-column text-center text-white bg-dark">-</th>
                    </tr>
                </thead>

                <tbody> {{!-- Cuerpo con los distintos productos --}}
                    {{#each adminproducts}}
                    <tr>
                        <th scope ="row" class="d-none d-md-table-cell">{{this.code}}</th>
                        <td class="title-column">{{this.title}}</td>
                        <td class="description-column">{{this.description}}</td>
                        <td class="d-none d-md-table-cell text-danger">{{this.owner}}</td>
                        <td class="d-none d-md-table-cell">{{this.category}}</td>
                        <td class="d-none d-md-table-cell">{{this.price}}</td>
                        <td class="d-none d-md-table-cell">{{this.stock}}</td>
                        <td class="action-column td-clickeable bg-body-secondary border-start border-dark">
                            {{#ifEqual ../userRole "admin"}}
                                <a href="#" onclick="eliminarProducto('{{this.id}}'); return false;" class="clickeable text-decoration-none m-0 p-0" title="Eliminar producto">
                                    <img src="/img/svg/trash-fill.svg" class="img-fluid actions-delete" alt="Ícono para eliminar el producto.">
                                </a>
                            {{else}}
                                {{#ifEqual this.owner ../userID}} 
                                    <a href="#" onclick="eliminarProducto('{{this.id}}'); return false;" class="clickeable text-decoration-none m-0 p-0" title="Eliminar producto">
                                        <img src="/img/svg/trash-fill.svg" class="img-fluid actions-delete" alt="Ícono para eliminar el producto.">
                                    </a>
                                {{/ifEqual}}
                            {{/ifEqual}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <h2 class="text-center text-md-start text-white mx-5 mt-5 mb-3">Agregar un producto</h2>
    
    <hr class="color2 mx-5">
   

</div>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/realtime.js"></script>